# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\me_project\vaccination\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
